<!DOCTYPE html>
<html lang="pt-br">
<%- include('./parciais/head.ejs') %>
<body>
  <!--inclusão de parcial nav-->
      <%- include('./parciais/nav.ejs') %>
  <div class = "conteudo-sites">
    <h2>Títulos Nacionais</h2>

    <p> <h3>Campeonato Brasileiro (Série A):
</h3>

1990

1998

1999

2005

2011

2015

2017

<h3>Copa do Brasil:</h3>

1995

2002

2009

<h3>Copa do Brasil:</h3> 

Vice-campeão em 1991 

<h3>Brasileiro - Série B:</h3> 

2008</p>

<p>

  <h2>Títulos Internacionais</h2>


<h3>Mundial de Clubes da FIFA:</h3>
2000

2012

<h3>Copa Libertadores da América:</h3>
2012

<h3>Sul-Americana:</h3> 

2013
</p>

  </div>
  <%- include('./parciais/footer.ejs') %>
</body>
</html>
