<nav>
     <div class="titulo-site">
        <a href="/"><h1>bem vindo ao site do </h1></a>
        <p>time do povo </p>
     </div>
     <ul>
        <li><a href="/">resumo da história</a></li>
          <li><a href="/sobre">conquistas</a></li>
           
     </ul>
 </nav>