<nav>
     <div class="titulo-site">
        <a href="/"><h1>Time do povo </h1></a>
         <p>vai corinthians</p>
     </div>
     <ul>
        <li><a href="/"> História</a></li>
          <li><a href="/sobre">Conquistas</a></li>
           
     </ul>
 </nav>
